.contact-hero {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}

/* Même calcul que dans Home.css pour gérer la hauteur de Introduction et du composant en dessous*/
@media (min-width: 769px) {
  .contact-hero .intro-background-container {
    height: max(calc(min(400px, 30vw) * 1.41421356 + 40px),
        calc(100vh - var(--navbar-height) - 140px));
  }
}

.contact-email {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Next Art';
  font-weight: 700;
  font-size: 1.8rem;
  color: #f8fafc;
}

.contact-standalone-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .contact-hero {
    height: calc(100vh - var(--navbar-height));
    min-height: 0;
  }

  .contact-standalone-wrapper {
    flex: 1;
    min-height: calc(min(260px, 60vw) * 1.41421356 + 20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-standalone-wrapper .outer-square {
    width: min(260px, 60vw);
    height: min(260px, 60vw);
  }

  .contact-email {
    flex: none;
    padding: 16px 0;
    font-size: 0.8rem;
  }
}