.page-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding-top: var(--navbar-height);
  box-sizing: border-box;
}

@media (max-width: 768px) {

  .page-view {
    padding-top: var(--navbar-height);
  }
}