.intro-background-container {
  position: relative;
  width: 100%;
  height: calc(min(400px, 30vw) * 1.41421356 + 40px);
}

/*Ensure Introduction component takes the maximum available height while keeping space for components placed below*/
@media (min-width: 769px) {
  .intro-background-container {
    height: max(calc(min(400px, 30vw) * 1.41421356 + 40px),
        calc(100vh - var(--navbar-height) - 140px));
  }
}

.intro-background-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.squares-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  gap: calc(min(400px, 30vw) * 0.414);
  position: relative;
  z-index: 1;
}

.outer-square {
  width: min(400px, 30vw);
  height: min(400px, 30vw);
  position: relative;
  background: var(--outer-square-border);
  padding: 5px;
  transform: rotate(45deg);
  flex-shrink: 0;
}

.inner-square {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilepic {
  transform: rotate(-45deg) scale(1.42);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.text-job {
  color: #f8fafc;
  transform: rotate(-45deg);
  text-align: center;
  padding: 2rem;
  font-family: 'Next Art';
  font-weight: 700;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .text-job {
    font-size: 0.8rem;
  }
}