.previous-life-container {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

.previous-life-title {
  font-family: 'Next Art';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 1vh;
}

.previous-life-text {
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .previous-life-container {
    margin-left: 8%;
    margin-right: 8%;
  }

  .previous-life-title {
    font-size: 1.6rem;
  }

  .previous-life-text {
    font-size: 1rem;
  }

}