.skills-article-section {
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
}

.skills-article-subtitle {
  margin-top: 4%;
  font-family: 'Next Art';
}

#skills-associated-work {
  text-align: center;
  margin-top: 8%;
}

.skills-article-section a {
  color: inherit;
}