.works-page-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.works-page-title {
  font-family: 'Next Art';
  font-weight: 600;
  font-size: 2.4rem;
  color: #f8fafc;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.works-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2vh;
  gap: 32px;
  padding-left: 6%;
  padding-right: 6%;
  width: 100%;
  box-sizing: border-box;
}

.works-card-item {
  display: flex;
  width: 22rem;
}

.works-card-link {
  text-decoration: none;
  height: 100%;
  display: flex;
}

@media (max-width: 768px) {
  .works-page-title {
    font-size: 1.6rem;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .works-cards-container {
    margin-top: 0;
  }

}