.footer {
  width: 100%;
  padding: 20px;
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-sizing: border-box;
}

.footer-description {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-description-name {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 4px;
}

.footer-description-job {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1024px) {

  .footer-description-name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {

  .footer-description-name {
    font-size: 18px;
  }

}