.footer {
  width: 100%;
  padding: 20px;
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-sizing: border-box;
  font-family: 'Next Art';
}

.footer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-description-name {
  font-size: 24px;
  font-weight: 600;
}

.footer-description-job {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1024px) {

  .footer-description-name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {

  .footer {
    margin-top: 1rem;
    padding: 12px;
  }

  .footer-description-name {
    font-size: 18px;
  }

}